<!--
     SmartAstro
     A web template for modern websites
     Copyright (c) 2025 Alessio Saltarin
     BSD License
 -->
---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <h1>Learn More Here</h1>
    <p>
        This minimalist web template is perfect for <b>single-page</b> or <b>small web sites</b>
        that need a fast responses and clean design.
    </p>
    <p>
        Now you can <a href="/">go back home</a>, or we can play a little game.
    </p>
    <div>
        <a class="command button" href="/">Go back home</a>
        <a class="command button button-outline" href="/firstgame">Let's play a game, shall we?</a>
    </div>
</Layout>

<style>
    .command {
        margin-right: 0.5rem;
    }
</style>
