<!--
     SmartAstro
     A web template for modern websites
     Copyright (c) 2025 Alessio Saltarin
     BSD License
 -->

---

---

<div id="dicegame" class="container">
    <p>I just thought a number between 1 and 10.</p>
    <form id="guessform">
        <label for="guessnumber">
            What number did I think of?
        </label>
        <input type="number" min="1" max="10" id="guessnumber"
               placeholder="Type a number between 1 and 10"></input>
    </form>
    <div id="hint"></div>
</div>

<style>
    .spinner {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%,#8948c2);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-zp9dbg 1s infinite linear;
    }

    @keyframes spinner-zp9dbg {
        to {
            transform: rotate(1turn);
        }
    }
</style>

<script src="./riddle.ts"></script>



